{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_slick.css' %}">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
{% endblock %}


{% block content %}
<div class="container">
    <!-- Home Page Carousel -->
    <div class="row">
        <div class="col-12">
            <div id="homeCarousel" class="card carousel-container mt-3">
                <div class="slider slider-nav">
                    <div class="home-carousel-item">
                        <div class="cards-wrapper">
                            <div class="card">
                                <a href="{% url 'get_latest_products' %}" class="card-body">
                                    <h5 class="card-title text-center">Latest Products</h5>
                                    <img src="{{ MEDIA_URL }}home-images/latest_products.jpg" class="card-img-top" alt="Latest Products VR">                                            
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="home-carousel-item">
                        <div class="cards-wrapper">
                            <div class="card">
                                <a href="{% url 'get_popular_products' %}" class="card-body">
                                    <h5 class="card-title text-center">Popular Products</h5>
                                    <img src="{{ MEDIA_URL }}home-images/popular_products.jpg" class="card-img-top" alt="Popular Gifts Xbox Controller">                                            
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="home-carousel-item">
                        <div class="cards-wrapper">
                            <div class="card">
                                <a href="{% url 'products' %}?category=offers" class="card-body">
                                    <h5 class="card-title text-center">Fantastic Offers</h5>
                                    <img src="{{ MEDIA_URL }}home-images/offers.jpg" class="card-img-top" alt="Sales Sign">   
                                </a>                            
                            </div>
                        </div>
                    </div>
                    <div class="home-carousel-item">
                        <div class="cards-wrapper">
                            <div class="card">
                                <a href="{% url 'products' %}?category=threedprintedgifts" class="card-body">
                                    <h5 class="card-title text-center">3d Printed Gifts</h5>
                                    <img src="{{ MEDIA_URL }}home-images/ddd_printing.jpg" class="card-img-top" alt="3d Printer">
                                </a>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Home Page Information Card Image Links -->
    <div class="row">
        <div class="col-12">
            <div id="newsTipsBlock" class="card mt-3">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="cards-wrapper">
                            <div class="card">
                                <a href="{% url 'gift_advice' %}" class="card-body">
                                    <div class="text-over-images text-center">Not sure what's the right gift?<br>Click Here for some tips<br> to find that perfect gift!</div>
                                    <img src="{{ MEDIA_URL }}home-images/buyers_tips.jpg" class="card-img-top" alt="Notepad Tips">
                                </a>  
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="cards-wrapper">
                            <div class="card">
                                <a href="{% url 'printing_info' %}" class="card-body">
                                    <div class="text-over-images text-center">Want to learn about 3D<br> printing your own gifts?<br> Click here for more info!</div>
                                    <img src="{{ MEDIA_URL }}home-images/print_info.jpg" class="card-img-top" alt="3d Printer Information">
                                </a>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}

    {{ block.super }}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{% static 'js/custom_slick.js' %}"></script>
{% endblock %}
