<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <div class="row">
                <div class="col-12">
                    <h4>Reviews</h4>
                </div>
                <hr>
                <div class="col-12">
                    Number Of Reviews: {{ product.getNumOfReviews }} 
                </div>
                <hr>
                <div class="col-12 mb-3">
                    {% include 'products/includes/star-rating.html' %}
                    {% if user_bought_product %}
                        <a href="{% url 'add_product_review' product.id %}"
                        class="link-small px-1">Add a Review
                        </a>
                        {% if users_submitted_review %}
                        <div class="col-12 col-lg-6 break-word mt-4">
                                {{ users_submitted_review.user_review }}
                                <br>
                                <small>Submitted by:{{ users_submitted_review.user_profile }}</small>
                                {% include 'products/includes/star-rating-user.html' %}
                                <a href="{% url 'edit_product_review' users_submitted_review.id %}"
                                class="link-small px-1">Update Review
                                </a>
                                <a href="{% url 'delete_product_review' users_submitted_review.id %}"
                                class="link-small px-1">Delete Review
                                </a>
                            {% endif %} 
                        </div>   
                    {% endif %} 
                </div>
                <hr>
                {% if product_reviews %}
                    {% for review in product_reviews %}
                        <div class="col-12 col-lg-6 break-word mt-4">
                            {{ review.user_review }}
                            <br>
                            <small>Submitted by:{{ review.user_profile }}</small>
                            {% include 'products/includes/star-rating-user.html' %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <p>Currently no reviews.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>