<div class="star-rating text-muted" rating="{{ review.rating }}">

    {% if review.rating %}
        <div class="rating-text">
            {{ review.rating|floatformat:1 }}/5.0
        </div>
        {% for i in star_loop %}
            {% if i > review.rating %}
                <i class="far fa-star mr-1" style="color:gold;"></i>
            {% else %}
                <i class="fas fa-star mr-1" style="color:gold;"></i>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="rating-text">
            {% for i in star_loop %}
                <i class="fas fa-star mr-1" style="color:white;"></i>
            {% endfor %}        
        </div>
    {% endif %}
</div>