<!-- 5 Stars Html for average review rating -->
<div class="star-rating text-muted" rating="{{ product.getAverageRating }}">

    {% if product.getAverageRating %}
        <div class="rating-text">
            Average Rating: {{ product.getAverageRating|floatformat:1 }}/5.0
        </div>
        {% for i in star_loop %}
            {% if i > product.getAverageRating %}
                <i class="far fa-star mr-1" style="color:gold;"></i>
            {% else %}
                <i class="fas fa-star mr-1" style="color:gold;"></i>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="rating-text">
            Not Rated
        </div>
        <div class="rating-text">
            {% for i in star_loop %}
                <i class="far fa-star mr-1" style="color:gold;"></i>
            {% endfor %}        
        </div>
    {% endif %}
    
</div>