{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col-12">
                <h2>Your Profile</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>My Account Information</h4>
                <div class="card p-3">
                    <div class="col-12 col-lg-6 offset-lg-3">
                        <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="text-center">
                                <button class="btn btn-update-profile">Update Information</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h4>Orders</h4>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#Order</th>
                            <th scope="col">Date</th>
                            <th scope="col">Items</th>
                            <th scope="col">Grand Total</th>
                          </tr>
                        </thead>
                        <tbody>

                            {% for order in orders %}
                                <tr>
                                    <td class="profile-order-row">                                        
                                        <a href="{% url 'get_order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:5 }}
                                        </a>
                                    </td>
                                    <td class="profile-order-row">{{ order.created_at_date }}</td>
                                    <td class="profile-order-row">                                     
                                        <small>
                                            <ul>
                                                {% for item in order.lineitems.all %}
                                                    <li>
                                                        {% if item.product.has_sizes %}
                                                            Size {{ item.size|upper }}
                                                        {% endif %}{{ item.product.name }} Qty: {{ item.quantity }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </small> 
                                    </td>
                                    <td class="profile-order-row">${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}