{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col-12">
                <h2>Your Profile</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>My Account Information</h4>
                <div class="col-12 col-lg-6">
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-black rounded-0">Update Information</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h4>Orders</h4>
                <div class="row">
                    {% for order in orders %}
                        <div class="col-12 my-0 mx-0">
                            {{ order.order_number }}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}