html {
    height: 100%;
}

.bg-navbar{
    background-color: #2D2D3C ;
}

.company-logo{
    min-height: 75px;
    margin: 5px 0;
    padding: 0 10px;
    width: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.nav-link {
    color: #863AFF !important;
}


@media (min-width: 992px) {
    #site-nav-bar {
        flex-flow: wrap !important;    
    }
}

@media (max-width: 991px) {

}

@media (max-width: 400px) {
    #logo {
        padding: 0;
        width: 100px;
        margin: 0;
    }
    .nav-link {
        font-size: 13px;
    }
}