html {
    height: 100%;
}
main{
    min-height: 70vh;
    padding: 10px;
}

/************************* NavBar *************************/
.bg-navbar{
    background-color: #2D2D3C ;
}
.company-logo{
    min-height: 75px;
    width: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.nav-link{
    color: snow !important;
    font-size: 18px;
}
.search-icon{
    background-color: #863AFF !important;
}
/************************* Footer *************************/

.bg-footer{
    background-color: #2D2D3C;
}
footer {
    height: 120px;
    width: 100%;
    color: #863AFF;   
}
.social-media-links{
    margin: 0;
    text-align: center;
}
.social-media-links li a i{
    font-size: 24px;
    width: 40px;
    height: 40px;
    color: snow;
    padding: 8px 0 8px;
    border-radius: 50%;
    background-color: rgba(134, 58, 255, 0.7);
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.copyright-info-block{
    min-height: 25px !important;
    margin-left: 10px;
}

/************************* Toasts *************************/
.toasts-message-container{
    position: fixed;
    top: 5%;
    right: 1%;
    z-index: 1000;
}

/************************* General *************************/

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

@media (min-width: 768px) {
    #site-nav-bar {
        flex-flow: wrap !important;    
    }
}

@media (max-width: 991px) {
    .nav-link {
        font-size: 14px;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0; 
        padding-left: 0;
    }
}

@media (max-width: 400px) {
    #logo {
        width: 100px;
    }
    .nav-link {
        font-size: 13px;
    }
}