.sort-products-container{
    display:flex;
    float: right;
}
.num-products-text{
    font-size: 19px;
}
.product-image, 
.product-image-detail{
    height: 400px;
}
.image-detail-container{
    text-align: right;
}
.product-card{
    height: 100%;
    border: none;
    text-align: center;
    
}
.others-bought-product-card{
    height: 100%;
    width: 75%;
    margin-left: 12.5% !important;
    border: none;
}
.carousel-image {
    height: 250px !important;
}
.product-name{
    margin: 0 !important;
}
.others-bought-product-name{
    margin: 0 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-body{
    text-align: left;
    padding: 0;
}
.price-text{
    text-align: left;
    font-size: 20px;
    font-weight: 800;
    margin: 0 !important;
}
.stock-text{
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    margin: 0 !important;
}
.star-rating{
    text-align: left;
}
#delete-review .star-rating{
    text-align: center;
}
i.fa-star-half {
    color:yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    margin-left: -5px;
}

.btn-return-products, .btn-add-to-bag {
    background: #2D2D3C;
    color: white !important;
    border: 1px solid black;
}

#recommendationsCarousel .card {
	box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
	border: 1px;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	color: #2D2D3C !important;
	background: #2D2D3C !important;
}
.slick-dots li button:before {
	color: #2D2D3C !important;
}
.slick-prev, .slick-next {
	color: #2D2D3C !important;
	background: #2D2D3C !important;
}

#div_id_rating label{
    float: left !important;
}
#div_id_user_review label{
    float: left !important;
}

.break-word{
    overflow-wrap: break-word;
}



@media (min-width: 1300px) {
    .product-card {
        width: 400px !important;
    }
    .product-image-detail{
        width: 80%;
    }
}
@media (min-width: 1600px) {
    .product-image-detail{
        width: 70%;
    }
}

@media (max-width: 1300px) {
    .product-image-detail{
        width: 90%;
    }
}

@media (max-width: 991px) {
	.carousel-image {
		height: 175px !important;
	}
}

@media (max-width: 1200px) {
    .product-image-detail{
        height: 350px;
    }
}

@media (max-width: 1050px) {
    .product-image{
        height: 250px;
    }
}

@media (max-width: 575px) {
    .product-image{
        width: 280px;
        position: relative;
    }
    .num-products-text{
        font-size: 15px;
        margin: 1rem 0 !important;
    }
}
@media (max-width: 767px) {
    .image-detail-container{
        text-align: center;
    }
    .product-image-detail{
        height: 300px;
        width: 280px;
    }
    .carousel-image {
		height: 225px !important;
	}
}

@media (max-width: 1150px) {
    .btn-return-products, .btn-add-to-bag {
        font-size: 14px;
    }
}

