.product-image, 
.product-image-detail{
    height: 400px;
}
.product-image-detail{
    width: 80%;
}
.image-detail-container{
    text-align: right;
}
.product-card{
    height: 100%;
    border: none;
    text-align: center;
    
}
.product-name{
    margin: 0 !important;
}
.card-body{
    text-align: left;
    padding: 0;
}
.price-text{
    text-align: left;
    font-size: 20px;
    font-weight: 800;
    margin: 0 !important;
}
.stock-text{
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    margin: 0 !important;
}
.star-rating{
    text-align: left;
}
i.fa-star-half {
    color:yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    margin-left: -5px;
}

.btn-return-products, .btn-add-to-bag {
    background: #2D2D3C;
    color: white !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

@media (max-width: 992px) {
    .product-image{
        height: 250px;
    }
}

@media (max-width: 575px) {
    .product-image{
        width: 280px;
        position: relative;
        left: calc(50% - 140px);
    }
}
@media (max-width: 767px) {
    .image-detail-container{
        text-align: center;
    }
    .product-image-detail{
        height: 300px;
        width: 280px;
    }
}

@media (max-width: 1075px) {
    .btn-return-products, .btn-add-to-bag {
        font-size: 14px;
    }
}

