{% extends "base.html" %}
{% load static %}

{% block extra_css %}    
    <link rel="stylesheet" href="{% static 'shopping_bag/css/bag.css' %}">
{% endblock %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="mt-2 mb-2">Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <!-- Display Items in Bag Section -->
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="row">
                        <div class="col">
                            <!-- Items Table -->
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Product Info</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in bag_items %}
                                        <tr>
                                            <td scope="row">
                                                <a href="{% url 'product_detail' item.product.id %}">              
                                                    {% if item.product.image %}
                                                        <img class="shopping-bag-image img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                                    {% else %}
                                                        <img class="shopping-bag-image img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                                    {% endif %}
                                                </a>                                            
                                            </td>
                                            <td class="p-1">{{ item.product.name }}  <br>Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}n/a{% endif %}</td>
                                            <td class="p-1">${{ item.product.price }}</td>
                                            <td>
                                                <form class="form" method="POST" action="{% url 'update_bag' item.product.id %}">
                                                    {% csrf_token %}
                                                    <div class="form-group m-0">
                                                        <div class="input-group">
                                                            <select class="form-control rounded-0 p-0 h-auto" name="product_quantity" id='id_product_quantity'>
                                                                {% for i in product_quantity_loop %}
                                                                    {% if item.quantity == i %}
                                                                        <option selected value="{{i}}">{{i}}</option>
                                                                    {% else %}
                                                                        <option  value="{{i}}">{{i}}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <button class="btn text-info p-0" type="submit"><small>Update</small></button>
                                                    <br>
                                                    <a class="btn text-danger p-0" href="{% url 'remove_product_from_bag' item.product.id %}?product_size={{ item.size }}"><small>Delete</small></a>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- Order Charges -->
                            <hr>
                            <p class="text-right my-0">
                                Total: ${{ total|floatformat:2 }}
                            </p>
                            <p class="text-right my-0">
                                *Delivery Charge: ${{ delivery|floatformat:2 }}
                            </p>
                            <hr>
                            <h4 class="text-right my-0 mt-3">
                                Grand Total: ${{ grand_total|floatformat:2 }}
                            </h4>
                        </div>
                    </div>
                    
                {% else %}
                    <p class="mb-3">Your bag is empty.</p>
                {% endif %}
                <!-- Proceed and Continue shopping buttons -->
                <div class="text-center">
                    <a href="{% url 'products' %}" class="btn btn-return-products mt-5">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text-uppercase">Continue Shopping</span>
                    </a>
                    {% if bag_items %}
                        <a href="{% url 'checkout' %}" class="btn btn-return-products mt-5">
                            <span class="text-uppercase">Proceed To Checkout</span>
                            <span class="icon">
                                <i class="far fa-credit-card"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}