{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h2>Products</h2>
            </div>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-md-4 col-xl-4 mb-3">
                <div class="card product-card">                        
                    <img class="card-img-top product-image img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    <div class="card-body">
                        <p class="card-text product-name mt-auto">{{ product.name }}</p>
                        
                    </div>
                    <p class="price-text">${{ product.price }}</p>
                    <div class="star-rating text-muted" rating="{{ product.product_rating }}">

                        {% if product.product_rating %}
                            <div class="rating-text">
                                {{ product.product_rating|floatformat:1 }}/5.0
                            </div>
                            {% for i in star_loop %}
                                {% if i > product.product_rating %}
                                    <i class="far fa-star mr-1" style="color:gold;"></i>
                                {% else %}
                                    <i class="fas fa-star mr-1" style="color:gold;"></i>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="rating-text">
                                No Rating
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        {% endfor %}     
    </div>      
</div>

{% endblock %}

{% block postloadjs %}
    <script>
        // [1] Helped me with having half stars for fractional ratings over 0.5
        $( document ).ready(function() {
            $('.star-rating').each(function (event) {
                let rating = parseFloat($(this).attr('rating'));
                var decimal = Math.floor(rating)
                var fraction = rating%1
                rating = parseFloat(rating)
                if(rating % 1 > 0){
                    if (fraction >= 0.5){
                        $(this).find('i.fa-star').eq(decimal).removeClass('far');
                        $(this).find('i.fa-star').eq(decimal).addClass('fas');
                        $(this).find('i.fa-star').eq(decimal).addClass('fa-star-half-alt');
                        $(this).find('i.fa-star').eq(decimal).css("color", "gold");
                        $(this).find('i.fa-star').eq(decimal).removeClass('fa-star');
                        
                    }
                }
            });
        });
            
    </script>
{% endblock %}
