{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h2>Products</h2>
            </div>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-md-4 col-xl-4 mb-3">
                <div class="card product-card">
                    <a href="{% url 'product_detail' product.id %}">              
                        <img class="card-img-top product-image img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    <div class="card-body">
                        <p class="card-text product-name mt-auto">{{ product.name }}</p>
                        
                    </div>
                    <p class="price-text">${{ product.price }}</p>
                    {% include 'products/includes/star-rating.html' %}
                </div>
            </div>
        {% endfor %}     
    </div>      
</div>

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'products/js/star_rating.js' %}"></script>
{% endblock %}
